<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/entidades/list">Entidades</a></li>
    <li class="breadcrumb-item"><a routerLink="/dashboard">Inclusão</a></li>
  </ol>
</nav>
<form class="form-horizontal" [formGroup]=formulario (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="col-md-6">
      <label for="nome">nome</label>
      <input type="text" class="form-control" formControlName="nome"  id="nome" placeholder="nome">
    </div>  

    <div class="col-md-6">
      <label for="nome">apelido</label>
      <input type="text" class="form-control" formControlName="apelido"  id="apelido" placeholder="apelido">
    </div>  

  </div> 
  <div class="form-group">
    <div class="col-md-3">
      <label for="nome">Filial</label>
      <input type="text" class="form-control" formControlName="codigofilial"  id="codigofilial" placeholder="codigofilial">
    </div>  

    <div class="col-md-3">
      <label for="nome">situacao</label>
      <input type="text" class="form-control" formControlName="situacao"  id="situacao" placeholder="situacao">
    </div>  

    <div class="col-md-3">
      <label for="nome">nomemae</label>
      <input type="text" class="form-control" formControlName="nomemae"  id="nomemae" placeholder="nomemae">
    </div>  

    <div class="col-md-3">
      <label for="nome">nomepai</label>
      <input type="text" class="form-control" formControlName="nomepai"  id="nomepai" placeholder="nomepai">
    </div>  
  </div> 
  <div class="form-group">
    <div class="col-md-3">
      <label for="nome">fisicajuridica</label>
      <input type="text" class="form-control" formControlName="fisicajuridica"  id="fisicajuridica" placeholder="fisicajuridica">
    </div>  

    <div class="col-md-3">
      <label for="nome">datanascimento</label>
      <input type="text" class="form-control" formControlName="datanascimento"  id="datanascimento" placeholder="datanascimento">
    </div>  

    <div class="col-md-3">
      <label for="nome">sexo</label>
      <input type="text" class="form-control" formControlName="sexo"  id="sexo" placeholder="sexo">
    </div>  

    <div class="col-md-3">
      <label for="nome">estadocivil</label>
      <input type="text" class="form-control" formControlName="estadocivil"  id="estadocivil" placeholder="estadocivil">
    </div>  
  </div> 
  <div class="form-group">
    <div class="col-md-3">
      <label for="nome">nacionalidade</label>
      <input type="text" class="form-control" formControlName="nacionalidade"  id="nacionalidade" placeholder="nacionalidade">
    </div>  

    <div class="col-md-3">
      <label for="nome">naturalidade</label>
      <input type="text" class="form-control" formControlName="naturalidade"  id="naturalidade" placeholder="naturalidade">
    </div>  

    <div class="col-md-3">
      <label for="nome">tratadocomo</label>
      <input type="text" class="form-control" formControlName="tratadocomo"  id="tratadocomo" placeholder="tratadocomo">
    </div>  

    <div class="col-md-3">
      <label for="nome">profissao</label>
      <input type="text" class="form-control" formControlName="profissao"  id="profissao" placeholder="profissao">
    </div>  
  </div> 
  <div class="form-group">
    <div class="col-md-3">
      <label for="nome">cpfcnpj</label>
      <input type="text" class="form-control" formControlName="cpfcnpj"  id="cpfcnpj" placeholder="cpfcnpj">
    </div>  

    <div class="col-md-3">
      <label for="nome">ie</label>
      <input type="text" class="form-control" formControlName="ie"  id="ie" placeholder="ie">
    </div>  

    <div class="col-md-3">
      <label for="nome">iedatainscricao</label>
      <input type="text" class="form-control" formControlName="iedatainscricao"  id="iedatainscricao" placeholder="iedatainscricao">
    </div>  

    <div class="col-md-3">
      <label for="nome">im</label>
      <input type="text" class="form-control" formControlName="im"  id="im" placeholder="im">
    </div>  
  </div> 
  <div class="form-group">
    <div class="col-md-3">
      <label for="nome">imdatainscricao</label>
      <input type="text" class="form-control" formControlName="imdatainscricao"  id="imdatainscricao" placeholder="imdatainscricao">
    </div>  

    <div class="col-md-3">
      <label for="nome">rg</label>
      <input type="text" class="form-control" formControlName="rg"  id="rg" placeholder="rg">
    </div>  

    <div class="col-md-3">
      <label for="nome">rgtipo</label>
      <input type="text" class="form-control" formControlName="rgtipo"  id="rgtipo" placeholder="rgtipo">
    </div>  

    <div class="col-md-3">
      <label for="nome">rgdataemissao</label>
      <input type="text" class="form-control" formControlName="rgdataemissao"  id="rgdataemissao" placeholder="rgdataemissao">
    </div>  
  </div> 
  <div class="form-group">
    <div class="col-md-3">
      <label for="nome">cnh</label>
      <input type="text" class="form-control" formControlName="cnh"  id="cnh" placeholder="cnh">
    </div>  

    <div class="col-md-3">
      <label for="nome">cnhvalidade</label>
      <input type="text" class="form-control" formControlName="cnhvalidade"  id="cnhvalidade" placeholder="cnhvalidade">
    </div>  

    <div class="col-md-3">
      <label for="nome">inscricaoestadual</label>
      <input type="text" class="form-control" formControlName="inscricaoestadual"  id="inscricaoestadual" placeholder="inscricaoestadual">
    </div>  

    <div class="col-md-3">
      <label for="nome">observacao</label>
      <input type="text" class="form-control" formControlName="observacao"  id="observacao" placeholder="observacao">
    </div>  

    <div class="col-md-12">
      <app-endereco-list></app-endereco-list>
    </div>
  </div> 
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>