<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<div class="container">
	<div class="row">
	<p></p>   
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default panel-table">
			  <div class="panel-heading">
				<div class="row">
				  <div class="col col-xs-6">
						<nav aria-label="breadcrumb" role="navigation">
						  <ol class="breadcrumb">
							<li class="breadcrumb-item"><a routerLink="enderecos/list">Enderecos</a></li>
						  </ol>
						</nav>				  	
				  </div>
				  <div class="col col-xs-6 text-right">
					<!-- <a type="button" class="btn btn-sm btn-primary btn-create" routerLink="/entidades/edit/0">Novo</a> -->
				  </div>
				</div>
			  </div>
			  <div class="panel-body">
					<table class="table table-striped table-bordered table-list">
					  <thead>
						<!-- <tr>
							<th>Name</th>
							<th>Apelido</th>
							<th>RG</th>
							<th><em class="fa fa-cog"></em></th>
						</tr>  -->
					  </thead>
						<tbody>	
							<tr *ngFor="let endereco of enderecos">
								<td>{{endereco.numero}}</td>
								<td align="center">
									<!-- <a class="btn btn-default" routerLink="/entidades/edit/{{entidade.id}}"><em class="fa fa-pencil"></em></a> -->
									<!-- <a class="btn btn-danger" routerLink="/entidades/delete/{{entidade.id}}"><em class="fa fa-trash"></em></a> -->
								</td>							
							</tr>
						</tbody>
					</table>
			  </div>
			  <div class="panel-footer">
				<div class="row">
				  <div class="col col-xs-4">Page 1 of 5
				  </div>
				  <div class="col col-xs-8">
					<ul class="pagination hidden-xs pull-right">
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					</ul>
					<ul class="pagination visible-xs pull-right">
						<li><a href="#">«</a></li>
						<li><a href="#">»</a></li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
</div></div></div>
<router-outlet></router-outlet>
