<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/entidades/list">Entidades</a></li>
    <li class="breadcrumb-item"><a routerLink="/dashboard">{{originalRequest}}</a></li>
  </ol>
</nav>
<form class="form-horizontal" [formGroup]="formEntidade" (ngSubmit)="onSubmit()"  novalidate>
  <collapsible-list [type]="'accordion'">
    <collapsible-list-item>
      <collapsible-header class="waves-effect">
        <a data-toggle="collapse">Dados Gerais</a>
      </collapsible-header>
      <collapsible-body [expanded]="true">
        <div class="form-group">
          <div class="col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" formControlName="nome"  id="nome" placeholder="nome">
          </div> 
          <div class="col-md-6">
            <label for="nome">Apelido</label>
            <input type="text" class="form-control" formControlName="apelido"  id="apelido" placeholder="apelido">
          </div>  
        </div> 
        <div class="form-group">
            <div class="col-md-3">
              <label for="nome">Filial</label>
              <input type="text" class="form-control" formControlName="codigofilial"  id="codigofilial" placeholder="codigofilial">
            </div>  
        
            <div class="col-md-3">
              <label for="nome">Situacao</label>
              <input type="text" class="form-control" formControlName="situacao"  id="situacao" placeholder="situacao">
            </div>  
        
            <div class="col-md-3">
              <label for="nome">Nome da Mãe</label>
              <input type="text" class="form-control" formControlName="nomemae"  id="nomemae" placeholder="Nome da Mãe">
            </div>  
        
            <div class="col-md-3">
              <label for="nome">Nome do Pai</label>
              <input type="text" class="form-control" formControlName="nomepai"  id="nomepai" placeholder="Nome do Pai">
            </div>  
          </div> 
          <div class="form-group">
              <div class="col-md-3">
                <label for="nome">Pessoa F/J</label>
                <input type="text" class="form-control" formControlName="fisicajuridica"  id="fisicajuridica" placeholder="fisicajuridica">
              </div>  
          
              <div class="col-md-3" data-provide="datepicker">
                <label for="nome">Data de Nascimento</label>
                <input type="text" class="form-control" formControlName="datanascimento"  id="datanascimento" placeholder="DD/MM/AAAA">
              </div>  
          
              <div class="col-md-3">
                <label for="nome">Sexo</label>
                <input type="text" class="form-control" formControlName="sexo"  id="sexo" placeholder="Sexo">
              </div>  
          
              <div class="col-md-3">
                <label for="nome">Estado Civil</label>
                <input type="text" class="form-control" formControlName="estadocivil"  id="estadocivil" placeholder="Estado civil">
              </div>  
            </div> 
            <div class="form-group">
              <div class="col-md-3">
                <label for="nome">Nacionalidade</label>
                <input type="text" class="form-control" formControlName="nacionalidade"  id="nacionalidade" placeholder="Nacionalidade">
              </div>  
          
              <div class="col-md-3">
                <label for="nome">Naturalidade</label>
                <input type="text" class="form-control" formControlName="naturalidade"  id="naturalidade" placeholder="Naturalidade">
              </div>  
          
              <div class="col-md-3">
                <label for="nome">Tratamento</label>
                <input type="text" class="form-control" formControlName="tratadocomo"  id="tratadocomo" placeholder="Sr">
              </div>  
          
              <div class="col-md-3">
                <label for="nome">Profissão</label>
                <input type="text" class="form-control" formControlName="profissao"  id="profissao" placeholder="Profissao">
              </div>  
            </div>           
      </collapsible-body>
    </collapsible-list-item>
    <collapsible-list-item>
      <collapsible-header class="waves-effect">
        <a data-toggle="collapse">Registros</a> 
      </collapsible-header>
      <collapsible-body [expanded]="false">
        <div class="form-group">
          <div class="col-md-3">
            <label for="nome">CPF/CNPJ</label>
            <input type="text" class="form-control" formControlName="cpfcnpj"  id="cpfcnpj" placeholder="cpfcnpj">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">IE</label>
            <input type="text" class="form-control" formControlName="ie"  id="ie" placeholder="ie">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">Data Emissão IE</label>
            <input type="text" class="form-control" formControlName="iedatainscricao"  id="iedatainscricao" placeholder="iedatainscricao">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">IM</label>
            <input type="text" class="form-control" formControlName="im"  id="im" placeholder="im">
          </div>  
        </div> 
        <div class="form-group">
          <div class="col-md-3">
            <label for="nome">Data Emissão IM</label>
            <input type="text" class="form-control" formControlName="imdatainscricao"  id="imdatainscricao" placeholder="imdatainscricao">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">RG</label>
            <input type="text" class="form-control" formControlName="rg"  id="rg" placeholder="rg">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">Expedidor</label>
            <input type="text" class="form-control" formControlName="rgtipo"  id="rgtipo" placeholder="rgtipo">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">Data Emissão RG</label>
            <input type="text" class="form-control" formControlName="rgdataemissao"  id="rgdataemissao" placeholder="rgdataemissao">
          </div>  
        </div> 
        <div class="form-group">
          <div class="col-md-3">
            <label for="nome">CNH</label>
            <input type="text" class="form-control" formControlName="cnh"  id="cnh" placeholder="cnh">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">Validade CNH</label>
            <input type="text" class="form-control" formControlName="cnhvalidade"  id="cnhvalidade" placeholder="cnhvalidade">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">inscricaoestadual</label>
            <input type="text" class="form-control" formControlName="inscricaoestadual"  id="inscricaoestadual" placeholder="inscricaoestadual">
          </div>  
      
          <div class="col-md-3">
            <label for="nome">Observações</label>
            <input type="text" class="form-control" formControlName="observacao"  id="observacao" placeholder="observacao">
          </div>  
        </div> 
      </collapsible-body>
    </collapsible-list-item>
    <collapsible-list-item>
      <collapsible-header class="waves-effect">
        <a data-toggle="collapse">Endereços</a> 
      </collapsible-header>
      <collapsible-body [expanded]="false">    
        <div formArrayName="enderecos"> 
          <div *ngFor="let endereco of enderecos.controls; let i=index" [formGroupName]="i" >
            <td><input  formControlName="numero"></td>
            <td><input  formControlName="complemento"></td>  
          </div>
        </div>  
      </collapsible-body>
    </collapsible-list-item>
  </collapsible-list>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<router-outlet></router-outlet>


<!-- <p>Form value: {{ formEntidade.value | json }}</p> -->

