<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Opções</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/entidades/list">Entidades</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
