<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/entidades/list">Entidades</a></li>
    <li class="breadcrumb-item"><a routerLink="/dashboard">Painel</a></li>
  </ol>
</nav>
<h3>Top Entidades</h3>
<div class="grid grid-pad">
  <a *ngFor="let entidade of entidades" class="col-1-4">
    <div class="module hero">
      <h4>{{entidade.nome}}</h4>
    </div>
  </a>
</div>
<router-outlet></router-outlet>

