<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<div class="container">
	<div class="row">
	<p></p>   
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default panel-table">
			  <div class="panel-heading">
				<div class="row">
				  <div class="col col-xs-6">
						<nav aria-label="breadcrumb" role="navigation">
						  <ol class="breadcrumb">
							<li class="breadcrumb-item"><a routerLink="/entidades/list">Entidades</a></li>
						  </ol>
						</nav>				  	
				  </div>
				  <div class="col col-xs-6 text-right">
					<a type="button" class="btn btn-sm btn-primary btn-create" routerLink="/entidades/edit/0">Novo</a>
				  </div>
				</div>
			  </div>
			  <div class="panel-body">
					<table class="table table-striped table-bordered table-list">
					  <thead>
						<tr>
							<th>Name</th>
							<th>Apelido</th>
							<th>codigofilial</th>
							<th>situacao</th>
							<th>nomemae</th>
							<th>nomepai</th>
							<!-- <th>fisicajuridica</th>
							<th>datanascimento</th>
							<th>sexo</th>
							<th>estadocivil</th>
							<th>nacionalidade</th>
							<th>naturalidade</th>
							<th>tratadocomo</th>
							<th>profissao</th>
							<th>cpfcnpj</th>
							<th>ie</th>
							<th>iedatainscricao</th>
							<th>im</th>
							<th>imdatainscricao</th>
							<th>rg</th>
							<th>rgtipo</th>
							<th>rgdataemissao</th>
							<th>cnh</th>
							<th>cnhvalidade</th>
							<th>inscricaoestadual</th>
							<th>observacao</th> -->
							<th><em class="fa fa-cog"></em></th>
						</tr> 
					  </thead>
						<tbody>	
							<tr *ngFor="let entidade of entidades">
								<td>{{entidade.nome}}</td>
                <td>{{entidade.apelido}}</td>
                <td>{{entidade.codigofilial}}</td>
                <td>{{entidade.situacao}}</td>
                <td>{{entidade.nomemae}}</td>
                <td>{{entidade.nomepai}}</td>
                <!-- <td>{{entidade.fisicajuridica}}</td>
                <td>{{entidade.datanascimento}}</td>
                <td>{{entidade.sexo}}</td>
                <td>{{entidade.estadocivil}}</td>
                <td>{{entidade.nacionalidade}}</td>
                <td>{{entidade.naturalidade}}</td>
                <td>{{entidade.tratadocomo}}</td>
                <td>{{entidade.profissao}}</td>
                <td>{{entidade.cpfcnpj}}</td>
                <td>{{entidade.ie}}</td>
                <td>{{entidade.iedatainscricao}}</td>
                <td>{{entidade.im}}</td>
                <td>{{entidade.imdatainscricao}}</td>
                <td>{{entidade.rg}}</td>
                <td>{{entidade.rgtipo}}</td>
                <td>{{entidade.rgdataemissao}}</td>
                <td>{{entidade.cnh}}</td>
                <td>{{entidade.cnhvalidade}}</td>
                <td>{{entidade.inscricaoestadual}}</td>
								<td>{{entidade.observacao}}</td> -->
								<td align="center">
									<a class="btn btn-default" routerLink="/entidades/edit/{{entidade.id}}"><em class="fa fa-pencil"></em></a>
									<a class="btn btn-danger" routerLink="/entidades/delete/{{entidade.id}}"><em class="fa fa-trash"></em></a>
								</td>							
							</tr>
						</tbody>
					</table>
			  </div>
			  <div class="panel-footer">
				<div class="row">
				  <div class="col col-xs-4">Page 1 of 5
				  </div>
				  <div class="col col-xs-8">
					<ul class="pagination hidden-xs pull-right">
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					</ul>
					<ul class="pagination visible-xs pull-right">
						<li><a href="#">«</a></li>
						<li><a href="#">»</a></li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
</div></div></div>
<router-outlet></router-outlet>
